body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

/* section for the title area at the top of page */

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #003049;
  color: #fff;
}

/* Section that positions the intro section and the search section */

.content-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Styling for intro area which is on the left side */

.intro-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.intro-text {
  padding: 3%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40916c;
  width: 70vh;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
}

/* Styling for the search area which is on the right side */

.search-area {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-content {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b29a;
  color: #fff;
  text-align: center;
  width: 70vh;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 25px;
}

#items {
  width: 40vh;
  height: 20vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Syling for search button */

#search-button {
  margin-top: 3%;
  padding: 1px;
  width: 15vh;
  height: 5vh;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #ffd60a;
  color: #003049;
  font-family: "Arimo", sans-serif;
  font-size: large;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#search-button:hover {
  transform: scale(1.1);
}

#search-button:active {
  background-color: #f77f00;
  color: #fff;
}

/* End of styling for search button */

/* Recipe results section */

.recipe-area {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#recipe-list {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #81b29a;
  color: #fff;
  text-align: center;
  width: 70vh;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 25px;
}

/* Sytling for the footer area */

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  bottom: 0;
  background-color: #003049;
}

.footer-content {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #ffd60a;
}

/* Optimizing for mobile devices */

@media (max-width: 1060px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .intro-text {
    width: 60vh;
  }

  .search-content {
    width: 60vh;
  }

  #recipe-list {
    width: 60vh;
  }
}

@media (max-width: 480px) {
  .title-text {
    text-align: center;
  }

  .intro-text {
    width: 50vh;
  }

  .search-content {
    width: 50vh;
  }

  #recipe-list {
    width: 50vh;
  }
}
