body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  background-color: #eae2b7;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #003049;
  color: #fff;
}

.intro-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.intro-text {
  padding: 1%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcbf49;
  width: 70vh;
}

.search-area {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-content {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f77f00;
  width: 70vh;
}

.footer {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #003049;
}
